.container{
    width:100%;
    max-width:var(--container);
    margin-inline:auto;
    padding-inline:32px;
}

.section{
    padding-block:160px;
}

.border-top{
    border-top:1px solid var(--line);
}

.border-bottom{
    border-bottom:1px solid var(--line);
}
